@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffdf8c;
  font-family: "Open Sans", sans-serif;
}

.active {
  background: #000;
  color: white;
  border-radius: 30px;
  transition: 0.7s;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  cursor: pointer;
}

.selected {
  color: #fe5f1e;
  background: rgba(254, 95, 30, 0.05);
  font-weight: 700;
  width: 100%;
}
